
<div class="container mt-4 bg-dark">
  <h1 class="bg-info text-warning text-center mt-3">Add todoitem using services</h1>
  <div class="row">
    <div class="col-md-6">
      <app-todoform></app-todoform>
    </div>
    <div class="col-md-6 mt-4">
      <app-todolist></app-todolist>
    </div>
  </div>
</div>

<div class="container mt-4 bg-dark stdinfo">
  <h1 class="bg-success text-dark text-center mt-3">Add students info using services</h1>
  <div class="row">
    <div class="col-md-6">
      <!-- <app-todoform></app-todoform> -->
      <app-stdform></app-stdform>
    </div>
    <div class="col-md-6 mt-4">
      <!-- <app-todolist></app-todolist> -->
      <app-stdtable></app-stdtable>
    </div>
  </div>
</div>













